/*---Style für Texteditor---*/
body { 
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 

    margin-top: 5rem; /* Verhindert, dass der Inhalt hinter der Top Bar verschwindet */
}

#main-container {
    display: flex; /* Flexbox für nebeneinander */
    width: 100%;
    height: 100%; /* Maximale Höhe */
    /*max-width: 1200px; /* Maximale Breite */
    justify-content: space-between;
    padding: 10px; /* Geringer Abstand um den Container */
    box-sizing: border-box;
}

#container-text, #container-pdf {
    width: 49%; /* Beide Container nehmen ca. 48% der Breite ein */
    padding: 0; /* Kein innerer Abstand */
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

textarea { 
    width: 100%; 
    height: 35%; /* Maximale Höhe des Textbereichs */
    padding: 10px; 
    font-size: 16px; 
    box-sizing: border-box;
}

button { 
    margin: 5px; 
    padding: 10px 20px; 
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

#output { 
    margin-top: 10px; 
}

/* Für den PDF-Viewer */
object {
    width: 100%;
    height: 100%; /* Maximale Höhe für den PDF-Viewer */
    border: none;
}

/*---Style für PDF Viewer---*/
*{
    margin: 0;
    padding: 0;
}

.top-bar {
    display: flex;
    background: #333;
    color: white;
    padding: 0.1rem;
    width: 100%; /* Setzt die Breite auf die gesamte Bildschirmbreite */
    position: fixed; /* Positioniert das Element oben auf dem Bildschirm */
    top: 0; /* Setzt das Element an den oberen Rand */
    left: 0; /* Setzt das Element an den linken Rand */
    z-index: 1000; /* Stellt sicher, dass das Element vor allen anderen Elementen liegt */
}

.btn{
    background: coral;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.7rem 2rem;
}

.btn:hover{
    opacity: 0.9;
}

.page-info{
    padding: 0.9rem 0.5rem;
}

#title-top-bar {
    position: fixed;
    top: 0.8rem;   /* 10px vom oberen Rand des Browserfensters */
    right: 0.5rem; /* 10px vom rechten Rand des Browserfensters */

    font-weight: bold; /* Macht den Text fett */
    font-size: 1.5rem; /* Schriftgröße anpassen */
}
.error{
    background: orangered;
    color:white;
    padding: 1rem;
}