/*Allgemeines*/
.grid-container-top {
    display: grid;
    grid-template-columns: 100%;
}
.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
}
.grid-item {
    padding: 20px;
}
/* Für den PDF-Viewer */
object {
    width: 100%;
    height: 100%; /* Maximale Höhe für den PDF-Viewer */
    border: none;
}

.top-bar {
    display: flex;
    background: #333;
    color: white;
    padding: 0.1rem;
    width: 100%; /* Setzt die Breite auf die gesamte Bildschirmbreite */
    position: fixed; /* Positioniert das Element oben auf dem Bildschirm */
    top: 0; /* Setzt das Element an den oberen Rand */
    left: 0; /* Setzt das Element an den linken Rand */
    z-index: 1000; /* Stellt sicher, dass das Element vor allen anderen Elementen liegt */
}

.btn{
    background: coral;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0.2rem;
    padding: 0.7rem 2rem;
}

.btn:hover{
    opacity: 0.9;
}

.page-info{
    margin: 1rem;
}

#title-top-bar {
    position: fixed;
    margin: 0.5rem;
    right: 0.5rem; /* 10px vom rechten Rand des Browserfensters */
    font-weight: bold; /* Macht den Text fett */
    font-size: 1.5rem; /* Schriftgröße anpassen */
}

#pdf-render{
    position: absolute;
}
#overlayScreenshot{
    position: relative;
}

.error{
    background: orangered;
    color:white;
    padding: 1rem;
}

/*Style von Editor.js*/
#editor {
    border: 1px solid #ccc;
    padding: 0.1rem;
    border-radius: 1rem;
    min-height: 20rem;
    font-size: 1.2em;
}

.latex-block {
    position: relative;
    margin-bottom: 20px;
    font-size: 1.1em;
}

.latex-input {
    display: none;
    width: 100%;
    margin-top: 10px;
}

.latex-output {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}