/*Allgemeines*/
.grid-container-top {
    display: grid;
    grid-template-columns: 100%;
}
.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
}
.grid-item {
    padding: 20px;
}
/* Für den PDF-Viewer */
object {
    width: 100%;
    height: 100%; /* Maximale Höhe für den PDF-Viewer */
    border: none;
}

.top-bar {
    display: flex;
    background: #333;
    color: white;
    padding: 0.1rem;
    width: 100%; /* Setzt die Breite auf die gesamte Bildschirmbreite */
    position: fixed; /* Positioniert das Element oben auf dem Bildschirm */
    top: 0; /* Setzt das Element an den oberen Rand */
    left: 0; /* Setzt das Element an den linken Rand */
    z-index: 1000; /* Stellt sicher, dass das Element vor allen anderen Elementen liegt */
}

.btn{
    background: coral;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0.2rem;
    padding: 0.7rem 2rem;
}

.btn:hover{
    opacity: 0.9;
}

.page-info{
    margin: 1rem;
}

#title-top-bar {
    position: fixed;
    margin: 0.5rem;
    right: 0.5rem; /* 10px vom rechten Rand des Browserfensters */
    font-weight: bold; /* Macht den Text fett */
    font-size: 1.5rem; /* Schriftgröße anpassen */
}

#pdf-render{
    position: absolute;
}
#overlayScreenshot{
    position: relative;
    cursor: crosshair;
}

.error{
    background: orangered;
    color:white;
    padding: 1rem;
}

/*Style von Editor.js*/
#editor {
    border: 1px solid #ccc;
    padding: 0.1rem;
    border-radius: 1rem;
    min-height: 20rem;
    font-size: 1.2em;
}

.latex-block {
    position: relative;
    margin-bottom: 20px;
    font-size: 1.1em;
}

.latex-input {
    display: none;
    width: 100%;
    margin-top: 10px;
}

.latex-output {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

/*Style slider*/
.switch-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: -0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: coral;
}

input:checked + .slider:before {
    transform: translateX(26px);
}