body { 
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
    height: 100vh;
}

#main-container {
    display: flex; /* Flexbox für nebeneinander */
    width: 100%;
    height: 100%; /* Maximale Höhe */
    /*max-width: 1200px; /* Maximale Breite */
    justify-content: space-between;
    padding: 10px; /* Geringer Abstand um den Container */
    box-sizing: border-box;
}

#container-text, #container-pdf {
    width: 49%; /* Beide Container nehmen ca. 48% der Breite ein */
    padding: 0; /* Kein innerer Abstand */
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

textarea { 
    width: 100%; 
    height: 35%; /* Maximale Höhe des Textbereichs */
    padding: 10px; 
    font-size: 16px; 
    box-sizing: border-box;
}

button { 
    margin: 5px; 
    padding: 10px 20px; 
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

#output { 
    margin-top: 10px; 
}

/* Für den PDF-Viewer */
object {
    width: 100%;
    height: 100%; /* Maximale Höhe für den PDF-Viewer */
    border: none;
}